*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background: #f4f4f4;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/oranges.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: #638178;
  font-size: 35px;
  /* letter-spacing: 0.06em; */
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #713718;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: #638178;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #713718;
  transition: 0.4s;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: #638178;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3 {
  color: #638178;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: #4c4c4c;
  letter-spacing: 2px;
  font-size: 20px;
}
.cv {
  display: inline-block;
  color: #1d090c;
  padding: 10px 30px;
  border: 2px solid transparent;
  font-weight: bold;
  outline: none;
  border-radius: 30px;
  background-color: #ada091;
  box-shadow: 0px 0px 5px #858585, 0px 0px 5px #858585;
  top: 6px;
  right: 6px;
  text-decoration: none;
  transition: transform 0.4s;
}
.cv:hover {
  transform: scale(1.1);
}
#about {
  width: 100%;
  padding: 100px 0px;
  background-color: #ada091;
}
#about img {
  height: auto;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: contrast(130%) brightness(70%);
}
.about-text h2 {
  color: #638178;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text p {
  color: #4c4c4c;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
#about .button {
  background-color: #713718;
  color: #638178;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
#about .button:hover {
  background-color: transparent;
  border: 2px solid #713718;
  cursor: pointer;
}
#projects {
  background: #1d090c;
  width: 100%;
  padding: 4rem 0rem;
}
.title h2 {
  color: #638178;
  font-size: 75px;
  width: 1130px;
  margin: 3rem auto;
  text-align: center;
  text-transform: capitalize;
}
.box {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 200px;
  margin-top: 10px;
}
.card {
  height: 35rem;
  width: 23rem;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card h5 {
  color: #638178;
  font-size: 23px;
  margin: 1rem auto;
}
.para p {
  color: #f2f2f2;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card img {
  height: auto;
  width: 300px;
}
.card .button {
  background-color: #713718;
  color: #638178;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid #713718;
  cursor: pointer;
}
#skills {
  width: 100%;
  height: 100vh;
  background: #ada091;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#skills h2 {
  color: #638178;
  font-size: 75px;
  margin: 10px auto;
}
.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 200px;
  margin-top: 10px;
}
.skills-title {
  color: #713718;
  text-align: center;
  margin-top: 20px;
}
.skills-list li {
  color: #191919;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 2px;
}
#skills .button-two {
  background-color: #713718;
  color: #638178;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
#skills .button-two:hover {
  background-color: transparent;
  border: 2px solid #713718;
  cursor: pointer;
}
#contact {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #1d090c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact h2 {
  color: #638178;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.contact-info {
  max-width: 100%;
  height: auto;
  background: #191919;
  border-radius: 10px;
  margin: 20px;
}
.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
}
.contact {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
  font-size: 0.8rem;
}
.contact img {
  flex: 1;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.contact p a {
  flex: 1;
  color: #638178;
  font-weight: 600;
}
.contact p a:nth-child(1) {
  font-size: 30px;
  color: #638178;
  margin-bottom: 20px;
  font-weight: bold;
}
.contact p a:nth-child(2) {
  color: #638178;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #713718;
  border-radius: 50%;
  margin: 22px 10px;
  color: #638178;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: #713718;
  bottom: 35px;
  font-size: 14px;
}

.floating-btn {
  width: 50px;
  height: 50px;
  padding: 0.8rem;
  font-size: 90px;
  background-color: #638178;
  color: #1d090c;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 2px -2px #638178;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 80%;
  left: 90%;
  z-index: 999;
}
